<section class="descripcion">
    <div class="desctitle">
        <h1>Nuestra Tienda</h1>
    </div>
    <p>{{'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, recusandae, excepturi est fuga quas blanditiis necessitatibus
        quidem, doloribus illum ad eius dolores molestiae. Quod doloribus unde inventore voluptate quo vel?'}}</p>
    <p>{{'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non eveniet temporibus dolorum, velit ut modi aliquam nisi
        suscipit rerum beatae quos? Facilis adipisci est sint odit obcaecati veritatis quasi placeat.'}}</p>
</section>
<div class="container">
    <div class="prendas">
        <img src="img/denim.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/jacket.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/tshirt.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/bag.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/denim.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/jacket.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/tshirt.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/bag.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/denim.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/jacket.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/tshirt.jpg" alt="">
    </div>
    <div class="prendas">
        <img src="img/bag.jpg" alt="">
    </div>
</div>
<div class="container">
    <a href="#!/productos" ng-click="formCtrl.toggle()" ng-hide="formCtrl.show" class="btn btn-primary">Nuestro Catalogo</a>
</div>